<li class="nav-item dropdown">
    {% set currentLang = app.request.session.get('_locale', 'de') %}
    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle Language">
        {{ currentLang }}
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
        <li><a href="{{ path('tdc_language_switcher_change_language', {language: 'de'}) }}" type="button" class="dropdown-item d-flex align-items-center {% if currentLang == 'de' %}active{% endif %}">Deutsch</a></li>
        <li><a href="{{ path('tdc_language_switcher_change_language', {language: 'en'}) }}" type="button" class="dropdown-item d-flex align-items-center {% if currentLang == 'en' %}active{% endif %}">English</a></li>
        <li><a href="{{ path('tdc_language_switcher_change_language', {language: 'ru'}) }}" type="button" class="dropdown-item d-flex align-items-center {% if currentLang == 'ru' %}active{% endif %}">Русский язык</a></li>
    </ul>
</li>